

{% extends 'template.html' %}


{% block main %}
<div class="col d-flex justify-content-center"  style="margin-top: 50px ; ">

<div class="card" style="width: 22rem; margin:15px">
    <img class="card-img-top" src="../static/images/face.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Image Upload</h5>
      <p class="card-text">
      <a href="/upload" class="btn btn-primary">Upload</a>
    </div>
  </div>

  <div class="card" style="width: 22rem;margin:15px">
    <img class="card-img-top" src="../static/images/Attendance_2_200x200.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Punch System</h5>
      <a href="/punchin" class="btn btn-primary">Punch IN</a>
      <a href="/punchout" class="btn btn-primary"> Punch Out</a>


    </div>
    <div class="card" style="width: 22rem;margin:15px">
      <img class="card-img-top" src="../static/images/Attendance_2_200x200.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Image System</h5>
        <a href="/video_feed" class="btn btn-primary">Punch IN</a>
        
  
      </div>
  </div>
  </div>
    



{% endblock %}