
{% extends 'template.html' %}


{% block main %}

<div style="width :50%;margin:0 auto ;text-align:center;margin-top: 25px;" >
<div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Name- {{name}}</li>
      <li class="list-group-item">Email- {{email}}</li>
      <li class="list-group-item">Punch in Time-{{value}}</li>
    </ul>
  </div>
</div>


  <div class="container">

<br><br><br>

  <form   method="post" enctype="multipart/form-data">

 <div class="input-group mb-3" >

  <input type="file" name="file" class="form-control" id="inputGroupFile02">

   <div class="col-auto">
    <button type="submit" value="Upload" class="btn btn-primary mb-3">Submit</button>
  </div>

 </div>
</form>
</div>
{% endblock %}